In [1]:
import random

In [23]:
#In the cell below, create a list named sample_list_1 with 80 random values.
#RandomListOfIntegers = [random.randint(Start, Stop) for iter in range(limit)]
sample_list_1 = [random.randint(1,1000) for iter in range(80)]
print(sample_list_1)
#Numbers are reapting.

[665, 434, 505, 241, 829, 822, 758, 51, 624, 260, 920, 966, 563, 562, 432, 475, 74, 666, 155, 545, 150, 112, 118, 29, 493, 836, 417, 779, 24, 64, 660, 956, 705, 127, 227, 143, 370, 787, 344, 890, 792, 445, 28, 968, 401, 623, 445, 749, 127, 588, 389, 777, 534, 1, 115, 731, 388, 311, 189, 52, 819, 832, 42, 475, 931, 982, 134, 260, 892, 880, 374, 713, 742, 771, 346, 56, 118, 937, 477, 751]

In [10]:
#Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?
set1 = set(sample_list_1)
length=len(set1)
print(length)
print(set1)

54
{1, 2, 5, 6, 7, 8, 9, 10, 12, 19, 20, 22, 23, 24, 25, 28, 29, 31, 32, 34, 35, 37, 40, 41, 43, 46, 47, 48, 53, 55, 57, 58, 59, 60, 63, 65, 66, 67, 69, 70, 72, 73, 74, 75, 80, 81, 83, 84, 86, 87, 88, 97, 99, 100}

In [22]:
#Create another list named sample_list_2 with 80 random values.
sample_list_2=[]
for i in range(80):
    r=random.randint(1,1000)
    if r not in sample_list_2: sample_list_2.append(r)
print(sample_list_2)
print(len(sample_list_2))
#non-repeating values

[873, 702, 265, 178, 586, 91, 494, 1000, 532, 216, 483, 662, 54, 74, 241, 692, 968, 879, 498, 387, 352, 420, 230, 417, 354, 614, 134, 147, 78, 627, 208, 170, 227, 576, 447, 489, 247, 935, 324, 34, 187, 495, 612, 805, 607, 106, 964, 538, 929, 696, 346, 130, 245, 246, 756, 965, 852, 94, 293, 703, 626, 222, 611, 554, 898, 223, 475, 553, 667, 361, 617, 940, 93, 998, 705, 668, 138, 579, 291, 9]
80

In [24]:
#Convert sample_list_2 to a set called set2. Print the length of the set. Is its length still 80?Â¶
set2 = set(sample_list_2)
length=len(set2)
print(length)
print(set2)

80
{9, 532, 538, 34, 553, 554, 54, 576, 579, 586, 74, 78, 91, 93, 94, 607, 611, 612, 614, 617, 106, 626, 627, 130, 134, 138, 147, 662, 667, 668, 170, 178, 692, 696, 187, 702, 703, 705, 208, 216, 222, 223, 227, 230, 241, 756, 245, 246, 247, 265, 291, 805, 293, 324, 852, 346, 352, 354, 361, 873, 879, 898, 387, 417, 929, 420, 935, 940, 447, 964, 965, 968, 475, 483, 998, 1000, 489, 494, 495, 498}

In [29]:
#Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.
#c = a.difference(b)
set3=set1.difference(set2)
print(set3)

{1, 2, 5, 6, 7, 8, 10, 12, 19, 20, 22, 23, 24, 25, 28, 29, 31, 32, 35, 37, 40, 41, 43, 46, 47, 48, 53, 55, 57, 58, 59, 60, 63, 65, 66, 67, 69, 70, 72, 73, 75, 80, 81, 83, 84, 86, 87, 88, 97, 99, 100}

In [30]:
#Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4
#c = a.difference(b)
set4=set2.difference(set1)
print(set4)

{532, 538, 553, 554, 54, 576, 579, 586, 78, 91, 93, 94, 607, 611, 612, 614, 617, 106, 626, 627, 130, 134, 138, 147, 662, 667, 668, 170, 178, 692, 696, 187, 702, 703, 705, 208, 216, 222, 223, 227, 230, 241, 756, 245, 246, 247, 265, 291, 805, 293, 324, 852, 346, 352, 354, 361, 873, 879, 898, 387, 417, 929, 420, 935, 940, 447, 964, 965, 968, 475, 483, 998, 1000, 489, 494, 495, 498}

In [28]:
#Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5.
#c = a.intersection(b)
set5=set1.intersection(set2)
print(set5)

{9, 34, 74}

In [35]:
a=len(set1)+len(set2)-len(set5)
b=len(set3)+len(set4)+len(set5)
if a==b:
    print("Ture")

Ture

In [47]:
#Create an empty set called set6.
set6 = set()
print(type(set6))
print(set6)

<class 'set'>
set()

In [56]:
#Add set3 and set5 to set6 using the Python Set update method.
set6.update(set3,set5)
print(set6)
print(len(set6))

{1, 2, 5, 6, 7, 8, 9, 10, 12, 19, 20, 22, 23, 24, 25, 28, 29, 31, 32, 34, 35, 37, 40, 41, 43, 46, 47, 48, 53, 55, 57, 58, 59, 60, 63, 65, 66, 67, 69, 70, 72, 73, 74, 75, 80, 81, 83, 84, 86, 87, 88, 97, 99, 100}
54

In [55]:
#Check if set1 and set6 are equal
if set1== set6:
    print("sets are equal")
else:
    print("sets are different")

sets are equal

In [57]:
#Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*
z = set1.issubset(set2)
print(z)

False

In [61]:
#Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.
unionset = set3.union(set4,set5)
print(unionset)
unionset_updated=unionset.union(set1,set2)
print(unionset_updated)

{1, 2, 5, 6, 7, 8, 9, 10, 12, 19, 20, 532, 22, 23, 24, 25, 538, 28, 29, 31, 32, 34, 35, 37, 40, 41, 553, 43, 554, 46, 47, 48, 53, 54, 55, 57, 58, 59, 60, 63, 576, 65, 66, 67, 579, 69, 70, 72, 73, 74, 75, 586, 78, 80, 81, 83, 84, 86, 87, 88, 91, 93, 94, 607, 97, 99, 100, 611, 612, 614, 617, 106, 626, 627, 130, 134, 138, 147, 662, 667, 668, 170, 178, 692, 696, 187, 702, 703, 705, 208, 216, 222, 223, 227, 230, 241, 756, 245, 246, 247, 265, 291, 805, 293, 324, 852, 346, 352, 354, 361, 873, 879, 898, 387, 417, 929, 420, 935, 940, 447, 964, 965, 968, 475, 483, 998, 1000, 489, 494, 495, 498}
{1, 2, 5, 6, 7, 8, 9, 10, 12, 19, 20, 532, 22, 23, 24, 25, 538, 28, 29, 31, 32, 34, 35, 37, 40, 41, 553, 43, 554, 46, 47, 48, 53, 54, 55, 57, 58, 59, 60, 63, 576, 65, 66, 67, 579, 69, 70, 72, 73, 74, 75, 586, 78, 80, 81, 83, 84, 86, 87, 88, 91, 93, 94, 607, 97, 99, 100, 611, 612, 614, 617, 106, 626, 627, 130, 134, 138, 147, 662, 667, 668, 170, 178, 692, 696, 187, 702, 703, 705, 208, 216, 222, 223, 227, 230, 241, 756, 245, 246, 247, 265, 291, 805, 293, 324, 852, 346, 352, 354, 361, 873, 879, 898, 387, 417, 929, 420, 935, 940, 447, 964, 965, 968, 475, 483, 998, 1000, 489, 494, 495, 498}

In [70]:
#Using the pop method, remove the first element from set1.
elem=set1.remove(1)

In [75]:
#Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)
Difrence=set1.difference(set_to_remove)
print(Difrence)

{2, 5, 6, 7, 8, 10, 12, 20, 22, 23, 24, 25, 28, 32, 34, 35, 37, 40, 43, 46, 47, 48, 53, 55, 57, 58, 60, 63, 65, 66, 67, 70, 72, 73, 74, 75, 80, 83, 84, 86, 87, 88, 97, 100}